# Git
.git
.gitignore

# Docker
docker-compose.yml
.env.docker
Dockerfile
.dockerignore

# IDE
.vscode
.idea
*.sw?
*.suo

# Python
__pycache__
venv/
*.pyc
*.pyo
.env

# Node
node_modules
dist

# Docs (optional)
doc/
scripts/

# OS
.DS_Store
Thumbs.db
